body{margin-top:20px;}
.navbar .container,.page-container{margin:0 auto;width:100%;max-width:700px}
div#header{padding-bottom:20px}
.title{}
.author,.date{color:#ccc;font-size:100%;font-weight:normal;padding:0;margin:0;display:inline;border:none}
h1.title{}
h1,h2{border-bottom:1px solid #d8d8d8;padding-top:30px}
h1,h2,h3,h4,h5,h6{padding-top:20px}
li{font-size:15px;line-height:150% !important}
.figure img{border:1px solid #d8d8d8;padding:10px;width:80%}
.figure .caption{font-size:80%;color:#808080;padding-bottom:20px}
blockquote{margin:30px !important;padding:10px !important}
blockquote p{color:#808080;font-size:90% !important}
#footer{padding:3em;font-size:90%;color:gray;text-align:center}