body{margin-top:20px}
.navbar .container,.page-container{margin:0 auto;width:100%;max-width:700px}
a.navbar-brand{background:#004c8b;margin:0 0 0 5px;padding:15px 20px 10px 20px;color:#fff !important;font-weight:bold;font-size:95%;height:auto;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;box-shadow:1px 1px 1px #c3c3c3}
a.navbar-brand:hover{background:#666 !important}
div#header{padding-bottom:20px}
.page-container{padding:10px;overflow-x:hidden}
.author,.date{color:#ccc;font-size:100%;font-weight:normal;padding:0;margin:0;display:inline;border:none}
h1,h2{border-bottom:1px solid #d8d8d8;padding-top:30px}
h1,h2,h3,h4,h5,h6{padding-top:20px}
li{font-size:15px;line-height:150% !important}
.figure img{border:1px solid #d8d8d8;padding:10px;width:80%}
.figure .caption{font-size:95%;color:#808080;padding:5px 0 20px 0}
.videoplayer{width:100%;margin:10px 0 20px 0}
blockquote{margin:30px !important;padding:10px !important}
blockquote p{color:#808080;font-size:90% !important}
#footer{padding:3em;font-size:90%;color:gray;text-align:center}
#TOC ul li{margin-top:0}
.page-container li{margin-top:6px}